body {
    background-color: cornflowerblue;

}

img {
    width: 200px;
    pointer-events: none;
}

h1 {
    font-style: italic;
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(205, 191, 87);
    border-radius: 100px;
    border: 2px white;
    position: fixed;
    user-select: none;
    -webkit-user-drag: none;
    cursor: crosshair;
    transition: background-color 0.2s ease, left 0.1s, top 0.1s;
}

.bto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}